<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Magic Table
    </h1>
</div>

<!-- <table>
    <tr>
        <th *ngFor="let celula of grade_top">{{celula}}</th>
    </tr>
    <tr *ngFor="let linha of grade">
        <td *ngFor="let celula of linha">{{celula}}</td>
    </tr>
</table> -->

<div>
    <ngx-datatable class="material striped selection-cell"
        [rows]="grid_body"

        [headerHeight]="50"
        [limit]="7"
        [columnMode]="''"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="false"
        [scrollbarH]="true"
        [selected]="selected"
        [selectionType]="'single'"
        (select)="onSelect($event)"
        (activate)="onActivate($event)">

        <ngx-datatable-column name="{{celula}}"  [width]="200" *ngFor="let celula of grade_top" headerClass="empresa" [cellClass]="getCellClass"></ngx-datatable-column>

    </ngx-datatable>

    <div class='selected-column'>
        <h4>Seleção</h4>
        <ul>
            <li *ngFor='let sel of selected'>
                {{sel.nome}}
            </li>
            <li *ngIf="!selected.length">Nenhuma seleção</li>
        </ul>
    </div>


    <div class='selected-column'>
        <h4>Lista de Seleçôes</h4>
        <ul>
            <li *ngFor='let sel of selected_list'>
                {{sel.nome}}
            </li>
            <li *ngIf="!selected_list.length">Nenhuma seleção</li>
        </ul>
    </div>

</div>