<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Magic Table
    </h1>
</div>

<div>
    <h4>Configurações da Tabela</h4>
    <div class="">
        <form action="">
            <input type="radio" name="selecao" value="single" (click)="setSelect('single')" checked> Single<br>
            <input type="radio" name="selecao" value="multiClick" (click)="setSelect('multiClick')"> MultiClick<br>
            <input type="radio" name="selecao" value="cell" (click)="setSelect('cell')"> Cell<br>
        </form>
    </div>
</div>

<br>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <!-- <input type="text" class="form-control" aria-label="..." > -->
            <input type='text' class="form-control" placeholder='Buscar...' 
                #valor (input)='updateFilter(valor.value)' />
            <div class="input-group-btn">
                <select class="form-control" [(ngModel)]="filter_field">
                    <option *ngFor="let celula of grade_top">{{celula}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<br>

<div>
    <ngx-datatable #table class="material striped selection-cell expandable" 
        [rows]="grid_body" 

        [headerHeight]="50"
        [limit]="5" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [rowHeight]="50" 
        [scrollbarV]="false"
        [scrollbarH]="true" 
        [selected]="selected" 
        [selectionType]="line_select" 
        (select)="onSelect($event)" 
        (activate)="onActivate($event)">

        <ngx-datatable-column name="{{celula}}" [width]="200" *ngFor="let celula of grade_top" headerClass="empresa"
            [cellClass]="getCellClass"></ngx-datatable-column>

    </ngx-datatable>

    <div class="row">
        <div class='selected-column col-sm-4'>
            <h4>Seleção</h4>
            <ul>
                <li *ngFor='let sel of selected'>
                    {{sel.nome}}
                </li>
                <li *ngIf="!selected.length">Nenhuma seleção</li>
            </ul>
        </div>

        <div class='selected-column col-sm-4'>
            <h4>Célula</h4>
            <h4>{{selected_cell}}</h4>
        </div>

    </div>


</div>